# Pin dependancies that might cause breakage
Werkzeug==2.1.2
SQLAlchemy==1.4.46

# Dependencies for all lab
Flask==2.1.2
Flask-SQLAlchemy==2.5.1
#requests==2.31.0

# Testing dependencies
pytest==8.4.1
pytest-cov==6.2.1
factory-boy==2.12.0
