# Dependancies that might cause breakage
Werkzeug==2.1.2
SQLAlchemy==1.4.46

# Dependencies for all
Flask==2.1.2
Flask-SQLAlchemy==2.5.1
requests==2.31.0

# TDD dependencies
pytest==8.4.1
pytest-cov==6.2.1
factory-boy==2.12.0

# BDD dependencies
behave==1.2.6
selenium==4.35.0
#compare==0.2b0
